{% extends 'main/base.html' %}

<!-- --------------- SEARCHBAR --------------- -->


{% block  search %}
{% include 'main/explore/searchbar_explore.html' %}
{% endblock %}


<!-- --------------- CONTENT --------------- -->

{% block body %}  

{% with role="reader" %}

<!--exemple card sequence-->

{% with type="sequence" %}
<div class="card mb-3 ">
    <a class="btn card-body cardList" href="{% url 'main:gene' gene_id=536 %}">
        <span class="left-card">IdGenome | IdSequence </span> <span class="status right-card">
          {% with status="3" %}
              {% include 'main/status.html' %}
        {% endwith %}
        </span> 
    </a>
  </div>
  {% endwith %}

<!--exemple card genome-->

{% with type="genome" %}
  <div class="card mb-3 ">
    <a class="btn card-body cardList" href="{% url 'main:genome' genome_id=56426 %}">
        <span class="left-card">IdGenome</span> <span class="status right-card">
          {% with status="1" %}
              {% include 'main/status.html' %}
        {% endwith %}
        </span> 
    </a>
  </div>

 {% endwith %}

{% endwith %}
{% endblock %}

