{% extends 'main/base.html' %}

<!-- --------------- SEARCHBAR --------------- -->


{% block  search %}
{% include 'main/explore/searchbar_explore.html' %}
{% endblock %}


<!-- --------------- CONTENT --------------- -->

{% block body %}  


<div class="card">
    <a class="btn card-body" href="{% url 'main:gene' gene_id=536 %}">
        <span>IdGenome | IdSequence <span class="statut">validation en cours</span> </span>
    </div>
  </div>

  <div class="card">
    <a class="btn card-body" href="{% url 'main:genome' genome_id=56426 %}">
        <span>IdGenome <span class="statut">validation en cours</span> </span>
    </div>
  </div>




{% endblock %}

