{% extends 'main/base.html' %}

<!-- --------------- TABS --------------- -->

{% block  tabs %}
{% include 'main/admin/tabs_admin.html' %}
{% endblock %}

<!-- --------------- SEARCHBAR --------------- -->


{% block  search %}
{% endblock %}


<!-- --------------- CONTENT --------------- -->

{% block body %}  
{% load render_table from django_tables2 %}
{% render_table table %}     
<nav class=" mb-4">
    <ul class="pagination ">
        {% if page_obj.has_previous %}            
            <li class=" page-item "><a class=" page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item "><a class=" page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        <li class="page-item ">
            <span class="page-link">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item "><a class=" page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item "><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
    
    </ul>  
    </nav>
{% endblock %}
