
<!-- --------------- TABS --------------- -->

<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link nav-link-admin  {% if active_tab_admin == 'genome' %}active{% endif %}" id="nav-genome-tab" href="{% url 'main:genomeAdmin' %}" role="tab" >Genomes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-admin  {% if active_tab_admin == 'sequence' %}active{% endif %}" id="nav-sequence-tab" href="{% url 'main:sequenceAdmin' %}" role="tab" >Sequences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-admin {% if active_tab_admin == 'account' %}active{% endif %}" id="nav-account-tab" href="{% url 'main:accountAdmin' %}" role="tab"  >Accounts</a>
    </li>
  </ul>