{% extends 'main/base.html' %}


<!-- --------------- CONTENT --------------- -->

{% block body %}  
    <form method="post"  class="mx-3" action="{% url 'main:blast' %}">
        {% csrf_token %}
        <label class="mb-3 bold" for="sequence">Query:</label>
        <br>
        <textarea name="sequence"  rows="5" class="w-75" required>{% if sequence %}{{sequence}}{%endif%}</textarea>
        <br>

        <label class="my-3 bold"  for="program">Program:</label> 

        <select class="mx-3" name="program" >
            <option value="blastn">blastn</option>
            <option value="blastp">blastp</option>
            <option value="blastx">blastx</option>
            <option value="tblastn">tblastn</option>
            <option value="tblastx">tblastx</option>
        </select>
        <br>
        
        <label class="my-3 bold" for="database">Database:</label> 
        <select class="mx-3" name="database" >
            <option value="nr">nr</option>
        </select>
        <br>
        <label  class="my-3 bold"  for="alignments"> Max number of alignments to show: </label>
        <br>
        <input type="number"  name="alignments" default:"10">
        <br>

        <br>
        <button class="btn btn-primary" type="submit">Launch Blast</button>
    </form>
{% endblock %}