{% extends 'main/base.html' %}


<!-- --------------- CONTENT --------------- -->

{% block body %}  
    <form method="post" action="{% url 'main:blast' %}">
        {% csrf_token %}
        <label for="sequence">Query:</label>
        <br>
        <textarea name="sequence" required>{% if sequence %}{{sequence}}{%endif%}</textarea>
        <br>
        <label for="parameters">Parameters:</label> 
        <br>
        <input type="text" name="parameters">
        <br>
        <button type="submit">Launch Blast</button>
    </form>
{% endblock %}