<!DOCTYPE html>


<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>GenomeAnnot</title>


   {% load static %}
   <!-- bootstrap files -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

   <!-- our files (need to be added after bootstrap to override css) -->
   <link rel="stylesheet" type = "text/css" href="{% static 'main/main_style.css' %}">
   <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
   <script src="{% static 'js_script.js' %}"></script>

</head>


<body>

    <!-- --------------- HEADER --------------- -->
   <header class="d-flex flex-wrap justify-content-center py-3 ">
      <a id="nameSite"  class=" d-flex align-items-center mb-3  me-md-auto  text-decoration-none" href="{% url 'main:home' %}">GenomeAnnot</a>  
        

       
          <!-------------- Login -------------->

            <!-- Button trigger modal -->
            <button id="login" type="button" class="btn " data-bs-toggle="modal" data-bs-target="#LoginModal" >
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                  <span id="login">Login</span> 
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModal" aria-hidden="true" data-bs-backdrop="false">
                <div class="modal-dialog modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="titleLogin">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form > <!--method="post" role="form" action="/" -->
                        {% csrf_token %}
                          <div class="modal-body container" >
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="../static/main/images/password.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8 card-body align-items-center d-flex flex-column justify-content-center">

                                <!-------- First name --------->

                                <div class="d-flex align-items-center ">
                                    <label for="firstname" class="form-label">First Name</label>
                                </div>
                                <div class="d-flex align-items-center ">
                                    <input type="text" class="form-control " id="firstname" name="firstname">
                                </div>

                                 <!-------- Last name --------->

                                <div class="d-flex align-items-center ">
                                    <label for="lastname" class="form-label">Last Name</label>
                                </div>
                                <div class="d-flex align-items-center ">
                                    <input type="text" class="form-control " id="lastname" name="lastname">
                                </div>

                                 <!-------- Password --------->

                                <div class="d-flex align-items-center ">
                                    <label for="password" class="form-label">Password</label>
                                </div>
                                <div class="d-flex align-items-center ">
                                    <input type="password" class="form-control " id="password" name="password">
                                </div>   

                                 <!--------------- Create user ------------------>
                                
                                <div id="formCreateUser" style="display: none;">
                                     <!-------- Email --------->

                                    <div class="d-flex align-items-center " style="text-align: center;">
                                        <label for="email" class="form-label ">Email</label>
                                    </div>
                                    <div class="d-flex align-items-center ">
                                        <input type="email" class="form-control " id="email" name="email">
                                    </div>

                                     <!-------- Phone Number --------->

                                    <div class="d-flex align-items-center ">
                                        <label for="phone" class="form-label">Phone Number</label>
                                    </div>
                                    <div class="d-flex align-items-center ">
                                        <input type="tel" class="form-control " id="phone" name="phone">
                                    </div>

                                     <!-------- Role --------->
                                     
                                     <div class="d-flex align-items-center ">
                                        <span class="form-label">Role</span>
                                    
                                    <select name="role" id="role-select" class="btn">
                                        <option value="reader" class="ebony"> Reader </option>
                                        <option value="annotator" class="ebony" > Annotator </option>
                                        <option value="validator" class="ebony" > Validator </option>
                                      </select>
                                    </div>
                                      
                                </div>

                              </div>
                            </div>
                          </div>

                    <div class="modal-footer" id="login_footer">
                    <span class="left-card">
                    <button type="button" id="user_left" class="btn btn-primary" onclick="changeToCreateUser()">Create User</button>
                    <button type="button" id="login_left" class="btn btn-primary d-none" onclick="changeToLogin()">Log in</button>
                    </span>
                    <span class="right-card">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="login_right" value="connection_submit">Connection</button>
                    <button type="submit" class="btn btn-primary d-none" id="user_right" value="createuser_submit" >Create User</button>
                    </span>
                    </div>
                </form>

                </div>
                </div>
            </div>

   </header>
    
   <!-- --------------- BODY --------------- -->

   <div class="container-fluid body-container">
    <div class="row">

            <!----------------------- SIDEBAR NAVIGATION ------------------------------>
            <nav id="navigLeft" class="col-md-2 d-none d-md-block bg-light sidebar flex-column ">
                <br>
                <h4 >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list icon" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    Menu
                </h4>
                <hr>
                
                <ul class="nav flex-column  nav-pills mb-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'home' %}active{% endif %}" id="nav-home" href="{% url 'main:home' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                              </svg>
                            Home
                        </a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_tab == 'explore' %}active{% endif %}" id="nav-explore" href="{% url 'main:explore' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-search icon" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                        Explore
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link {% if active_tab == 'annotate' %}active{% endif %}" id="nav-annotate" href="{% url 'main:annotate' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square icon" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                        Annotate
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link {% if active_tab == 'validate' %}active{% endif %}" id="nav-validate" href="{% url 'main:validate' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-clipboard2-check icon" viewBox="0 0 16 16">
                            <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z"/>
                            <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z"/>
                            <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                        </svg>
                        Validate
                    </a>
                </li>
                <li class="nav-item">                     
                    <a  class="nav-link {% if active_tab == 'blast' %}active{% endif %}" id="nav-blast" href="{% url 'main:blast' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-ladder icon" viewBox="0 0 16 16" style="transform: rotate(90deg);">
                            <path d="M4.5 1a.5.5 0 0 1 .5.5V2h6v-.5a.5.5 0 0 1 1 0v14a.5.5 0 0 1-1 0V15H5v.5a.5.5 0 0 1-1 0v-14a.5.5 0 0 1 .5-.5M5 14h6v-2H5zm0-3h6V9H5zm0-3h6V6H5zm0-3h6V3H5z"/>
                        </svg> 
                        Blast
                    </a>
                </li>

                <li class="nav-item">   
                    <a class="nav-link {% if active_tab == 'admin' %}active{% endif %}" id="nav-admin" href="{% url 'main:genomeAdmin' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                        </svg>
                        Admin
                    </a>
                </li>
                </ul>
            </nav>
            
            
            <!----------------------- MAIN ------------------------------>

            <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
            

            <!-- ------------- TABS ------------- -->
            {% block  tabs %}
            {% endblock %}

            <!-- ------------- SEARCHBAR ------------- -->
            
            {% block  search %}
            {% endblock %}

            

            <!-- ------------- CONTENT --------------->
            <div class="bodycontent">
            {% block  body %}
            {% endblock %} 
            </div>

             <!-- ------------- SCROLL UP BUTTON --------------->


            <a class="btn btn-secondary" id="scrollTop" style="display: none;" onclick="topFunction()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5"/>
                </svg>
            </a>

            
        
            </main>
    </div>
  </div>


    <!-- --------------- FOOTER --------------- -->

  <footer class="d-flex flex-wrap justify-content-center py-3  border-top">
    <span class="text-body-secondary d-flex align-items-center mb-3 mb-md-0 me-md-auto  text-decoration-none">
        Emeline Bruyère, Anaëlle Cossard, Alexis Michalowski-Skarbek, Elora Vigo
    </span>

    <span class="text-body-secondary">
        Projet Web AMI2B  
    </span>
  </footer>


   


</body>


</html>