{% extends 'main/base.html' %}
{% load static %}

<!-- --------------- CONTENT --------------- -->
{% block body %}

<div class="body container" >
  <div class="row g-0">

    <!-- ------ IMAGE LOGIN/SIGN UP ------ -->
    <div class="col-md-5">
      <img src="{% static 'main/images/password.png' %}" class="img-fluid rounded-start" alt="...">
    </div>
    
    <!-- ------ FORM LOGIN ------ -->
    <div class="col-md-7 card-body align-items-center d-flex flex-column justify-content-center">
      <form method="post" novalidate> <!-- action="{% url 'main:home' %}" -->
        {% csrf_token %}

        <!-------- TITLE -------->
        <h2 class="text-center">User Login</h2>
        <hr>
        <br>

        <!-------- Email -------->

        <div class="d-flex align-items-center " style="text-align: center;">
          <label for="email" class="form-label ">Email</label>
        </div>
        <div class="d-flex align-items-center ">
          {{ form.username }}
        </div>

        {% if form.username.errors %}
            <small>{{ form.username.errors|striptags }}</small> 
        {% endif %}

        <!-------- Password -------->
        <br>
        <div class="d-flex align-items-center ">
            <label for="password" class="form-label">Password</label>
        </div>
        <div class="d-flex align-items-center ">
          {{ form.password }}
        </div>

        {% if form.password.errors %}
            <small>{{ form.password.errors|striptags }}</small> 
        {% endif %}

        <!-- Pour afficher les messages flash -->
        {% if messages %}
          <br>
          <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
          </div>
        {% endif %}
        <!-- Fin messages flash -->

        <!-------- Submit button -------->
        <br>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="submitting_login" value="submitting_login">Connexion</button>
        </div>
        
        <br>
        <hr>
        <p class="text-center">Forgot your password <a href="#">Reset Password</a></p>
        <p class="text-center">Don't have an account? <a href="{% url 'main:signUp' %}">Sign up</a></p>

      </form>
    </div>

  </div>
</div>

{% endblock %}
