

<!-------------- Research -------------->  

<form>

<div class="d-flex" role="search">

    <!-------------- Result type -------------->
    {% block  dropdown %}
    {% endblock %}
    <!-- exemple :
        <select name="res_type" id="res_type-select" class="btn">
        <option value="genome" > Genome </option>
        <option value="sequence" > Sequence </option>
        </select> 
    -->
    
    <!-------------- Search bar -------------->

    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>


    <!-------------- Filter -------------->

    <!-- Button trigger filter -->
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" >
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
        </svg>
      </button>
 

    <!-------------- Other button -------------->
    {% block  otherElementBar %}
    {% endblock %}

</div>

    <!-- filter opened -->
    <div class="collapse" id="filter">
        <div class="card card-body">
            {% block  filter %}
            {% endblock %}        
        </div>
    </div>
    


</form>