:root {
  --celadon: rgb(153, 217, 172);
  --celadon_sombre: rgb(72, 105, 82);
  --celadon_clair: rgb(183, 228, 196);
  --nyanza: rgb(205, 239, 215);
  --roseebony: rgb(105, 72, 72);
  --roseebony_clair: rgba(210, 200, 200);
  --feldgrau: rgb(60, 73, 63);
  --shadow: rgba(51, 0, 255, 0.2);
  --light_green: rgb(99, 211, 99);
  --light_red: rgb(225, 99, 99);
  --height_header: 100px;
  --bottomNav: 8px;
  --stripe: 7px;
}
/*****************************************************************/
/*--------------------------- Header --------------------------- */
/*****************************************************************/

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: var(--height_header);
  background: repeating-linear-gradient(
    45deg,
    var(--celadon_clair) 0 var(--stripe),
    var(--nyanza) var(--stripe) calc(var(--stripe) * 2)
  );
}
header:hover {
  box-shadow: 0px 5px 10px 1px var(--shadow);
}
#nameSite {
  padding: 0 30px;
  color: var(--roseebony);
  font-size: 2rem;
}
#login {
  color: var(--feldgrau);
}
#LoginModal {
  position: fixed;
}

#login {
  padding-right: 30px;
  font-size: 20px;
}

.forCreateUser {
  display: none;
}
/*****************************************************************/
/*--------------------------- Navigation --------------------------- */
/*****************************************************************/

.nav-pills {
  --bs-nav-pills-link-active-color: var(--roseebony);
  --bs-nav-pills-link-active-bg: var(--celadon);
}
.nav {
  --bs-nav-link-hover-color: var(--celadon_sombre);
  --bs-nav-link-disabled-color: var(--celadon_clair);
}

.nav-link {
  color: var(--roseebony);
}

#navigLeft {
  position: fixed;
  z-index: 1;
  top: var(--height_header);
  height: calc(100% - var(--height_header) - var(--bottomNav));
  bottom: var(--bottomNav);
  margin-left: 0.5%;
  border-left: 0.4px var(--roseebony_clair) solid;
  border-right: 0.4px var(--roseebony_clair) solid;
}
#navigLeft:hover {
  box-shadow: 0 0 20px var(--shadow);
}

#nav-admin {
  position: absolute;
  top: calc(100% - var(--height_header) - var(--bottomNav));
  width: 85%;
}

/*--------- button to go up----------*/

#scrollTop {
  position: fixed;
  right: 1%;
  border-radius: 40%;
}
/*****************************************************************/
/*--------------------------- Body --------------------------- */
/*****************************************************************/

body {
  color: var(--feldgrau);
}

.bodycontent {
  margin-top: 2%;
}

main {
  position: relative;
  top: var(--height_header);
  height: auto;
  padding: 2.5%;
}

.pad_txt {
  padding: 0px 10% 2%;
}

.mediumTxt {
  font-size: 1.15rem;
  text-align: justify;
}
.biggerTxt {
  font-size: larger;
  font-style: italic;
  padding-right: 0.5em;
}

.smallerTxt {
  font-size: small;
}

.ebony {
  color: var(--roseebony);
}

.radius {
  border-radius: 10px;
}

.bold {
  font-weight: bold;
}

.notvalid {
  font-style: italic;
}

.borderLeft {
  border-left: solid;
  border-color: var(--roseebony);
}

/*-----------------Search and filter----------------*/

.search {
  padding: 1% 0.6%;
  border: 0.8px solid;
  border-color: var(--roseebony);
  border-radius: 10px;
}

.form-check-input:checked {
  background-color: var(--roseebony);
  border-color: var(--roseebony);
}

.filter {
  background-color: var(--roseebony_clair);
  border-radius: 10px;
}
.form-check-input:focus {
  border-color: var(--roseebony);
  box-shadow: 0 0 0 0.25rem var(--shadow);
}
.form-control:focus {
  border-color: var(--roseebony);
  box-shadow: 0 0 0 0.25rem var(--shadow);
}
/*-----------------Button----------------*/

.btn {
  color: var(--roseebony);
}
.btn:focus-visible {
  border-color: var(--roseebony);
}
.btn-outline-success {
  --bs-btn-color: var(--roseebony);
  --bs-btn-border-color: var(--roseebony);
  --bs-btn-hover-bg: var(--roseebony);
  --bs-btn-hover-border-color: var(--roseebony);
  --bs-btn-active-bg: var(--roseebony);
  --bs-btn-active-border-color: var(--roseebony);
  --bs-btn-disabled-color: var(--roseebony_clair);
  --bs-btn-disabled-border-color: var(--roseebony_clair);
}
.btn.btn-primary {
  --bs-btn-bg: var(--roseebony);
  --bs-btn-border-color: var(--roseebony);
  --bs-btn-hover-bg: var(--feldgrau);
  --bs-btn-hover-border-color: var(--feldgrau);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--roseebony);
  --bs-btn-disabled-bg: var(--nyanza);
  --bs-btn-disabled-border-color: var(--nyanza);
  --bs-btn-disabled-color: var(--bs-nav-link-disabled-color);
  color: #fff !important;
  --bs-btn-hover-color: #fff;
}
.btn.btn-secondary {
  --bs-btn-bg: var(--celadon);
  --bs-btn-border-color: var(--celadon);
  --bs-btn-hover-bg: var(--feldgrau);
  --bs-btn-hover-border-color: var(--feldgrau);
  --bs-btn-active-color: var(--feldgrau);
  --bs-btn-disabled-bg: var(--nyanza);
  --bs-btn-disabled-border-color: var(--nyanza);
  --bs-btn-disabled-color: var(--bs-nav-link-disabled-color);
  color: var(--feldgrau) !important;
  /*--bs-btn-hover-color: white !important*/
}
.btn.btn-secondary:hover {
  color: white !important;
}

.btn.validate {
  background-color: var(--light_green);
  border-color: var(--light_green);
}
.btn.reject {
  background-color: var(--light_red);
  border-color: var(--light_red);
}

/*----------------Title---------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--roseebony);
}

/*--------------- Home ---------------- */

.card:hover {
  box-shadow: 0px 0px 7px 5px var(--shadow);
}
.card-title {
  color: var(--roseebony);
}

/*--------------- sequence/genome card ---------------- */

#login_footer,
.card-body.cardList {
  display: flex;
  justify-content: space-between;
  background-color: rgb(var(--bs-light-rgb));
}

.left-card {
  order: 1;
}

.right-card {
  order: 2;
}

/*-----------------Status----------------*/

.green {
  color: rgb(28, 182, 28) !important;
}

.grey {
  color: grey !important;
}

.orange {
  color: rgb(250, 180, 49) !important;
}

.red {
  color: red !important;
}

/*****************************************************************/
/*--------------------------- Footer --------------------------- */
/*****************************************************************/

footer {
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  background-color: #fff;
}
footer span {
  padding: 0 10px;
}
