{% extends 'main/base.html' %}

<!-- --------------- SEARCHBAR --------------- -->


{% block  search %}
{% include 'main/annotate/searchbar_annotate.html' %}
{% endblock %}


<!-- --------------- CONTENT --------------- -->

{% block body %}  
{% with role="annotator" type="sequence" %}

{% for gene in genes_info%}

{% with type="sequence" %}
<div class="card mb-3 ">
    <a class="btn card-body cardList" href="{% url 'main:geneAnnot' gene_id=gene.gene_id%}">
        <span class="left-card">
          <span class="mx-2">Genome {{gene.genome_species}} {{gene.genome_id}} </span>  | 
          <span class="mx-2"> Gene {{gene.gene_id}} {{gene.gene_name}} </span>{% if gene.peptide_id %} 
           | <span class="mx-2">Protein {{gene.peptide_id}} {{gene.peptide_name}} </span>{% endif%}
        </span> <span class="status right-card">
          {% with status=gene.status %}
              {% include 'main/status.html' %}
        {% endwith %}
        </span> 
    </a>
  </div>
  {% endwith %}

{%endfor%}

{% endwith %}
{% endblock %}

