{% extends 'main/base.html' %}

<!-- --------------- SEARCHBAR --------------- -->


{% block  search %}
{% include 'main/annotate/searchbar_annotate.html' %}
{% endblock %}


<!-- --------------- CONTENT --------------- -->

{% block body %}  
{% with role="annotator" type="sequence" %}

<!-- --------------- GENES LIST --------------- -->

{% for gene in object_list %}

  {% with type="sequence" %}
  <div class="card mb-3 ">
      <a class="btn card-body cardList " href="{% url 'main:geneAnnot' gene_id=gene.id%}">
          <span class="left-card ">
            <span class="mx-2"><span class="bold">Genome</span> {{gene.idChrom.idGenome_id}}  </span>  | 
            <span class="mx-2"><span class="bold">Gene</span>  {{ gene.id }} - {{ gene.geneName }}  </span> |
            <span class="mx-2"><span class="bold">Peptide</span> 
              {% if gene.peptide_set.all %}
                  {{ gene.peptide_set.first.transcriptName }}
              {% else %}
                  No associated peptide
              {% endif %}
            </span>
          </span> 
            <span class="status right-card ">
              {% with status=gene.status %}
                  {% include 'main/status.html' %}
            {% endwith %}
            </span> 
      </a>
    </div>
  {% endwith %}

  {% empty %}

  <div class="container ">
    <div class="row">
        <div class="col text-center grey smallerTxt">            
                 No genes correspond to the request.
        </div>
    </div>
  </div>

{%endfor%} 


<!-- --------------- PAGINATION --------------- -->

<nav class=" mb-4">
  <ul class="pagination override">
      {% if page_obj.has_previous %}            
          <li class=" page-item "><a class=" page-link" href="?page=1">&laquo; First</a></li>
          <li class="page-item "><a class=" page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      <li class="page-item ">
          <span class="page-link">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      </li>

      {% if page_obj.has_next %}
      <li class="page-item "><a class=" page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item "><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
      {% endif %}
  
  </ul>  
</nav>

{% endwith %}
{% endblock %}

