{% extends 'main/base.html' %}

{% block body %}

<div>
Gene {{ gene_id }} <br>

genome : ... <br>

...all informations <br>

<div class="btn btn-secondary">Blast gene</div >  <br><!-- open blast in new tab -->


<div> zone of old comments ...</div> <br>

<div> zone to add comment ...</div> <br>

<div class="btn btn-secondary">Send comment</div > <br>

<div class="btn btn-primary">Reject </div > <!-- ouvre modal qui demande si quit ou next-->
<div class="btn btn-primary">Validate </div >
        

</div>


{% endblock%}