{% extends 'main/base.html' %}

<!-- --------------- SEARCHBAR --------------- -->


{% block  search %}
{% include 'main/validate/searchbar_validate.html' %}
{% endblock %}


<!-- --------------- CONTENT --------------- -->

{% block body %}  
{% with role="validator" type="sequence" %}
<div class="card mb-3 ">
    <a class="btn card-body cardList" href="{% url 'main:geneValid' gene_id=536 %}">
        <span class="left-card">IdGenome | IdSequence </span> 
        <span class="status right-card">
          {% with status=3 %}
              {% include 'main/status.html' %}
        {% endwith %}
        </span>
    </a>
  </div>
{% endwith %}
{% endblock %}

