<!-------------- Research -------------->  

<form method="get" action="{% url 'main:validate' %}">

    <div class="d-flex search" role="search">



        <!-------------- Searchbar -------------->

        {{ filter.form.id__contains }}    
        <button class="btn btn-outline-success" type="submit" id="submit_search" name="submitsearch" >Search</button>

       <!-------------- Filter -------------->


        <!-- Button trigger filter -->
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
            </svg>
        </button>
    </div> 
        <!--------- filter opened ------------>
        <div class="collapse " id="filter">
        <div class=" card-body">
    

        {% with role="validator" %}

        <!-------------- Gene or Protein-------------->
        {% with type="sequence" %}

            <div class="filter">
                <div class="container pt-3 pb-3">

                    <div class="row align-items-center mb-3">
                        <!-------- Species -------->
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <label for="id_idChrom__idGenome__species__icontains" class="form-label pe-3">Species</label>
                                {{ filter.form.idChrom__idGenome__species__icontains }}
                                <!--<input type="text" class="form-control ms-2" id="genome" name="genome" value="{% if genome %}{{genome}}{% endif %}">-->
                            </div>
                        </div>

                        <!-------- Gene name -------->
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <label for="id_geneName__contains" class="form-label pe-3">Gene Name</label>
                                {{ filter.form.geneName__contains }}
                            </div>
                        </div>
                        <!-------- Gene symbol -------->
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <label for="id_geneSymbol__contains" class="form-label pe-3">Gene Symbol</label>
                                {{ filter.form.geneSymbol__contains }}
                            </div>
                        </div>
                    
                        
                        
                    </div>

                    <div class="row align-items-center mb-3">



                        <!-------- Motif gene -------->
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <label for="id_sequence_gene" class="form-label pe-3">DNA Motif</label>
                                {{ filter.form.sequence_gene }}
                                <!--<input type="text" class="form-control ms-2" id="motif_gene" name="motif_gene" value="{% if motif_gene %}{{motif_gene}}{% endif %}">-->
                            </div>
                        </div>

                        <!-------- Motif prot -------->
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <label for="id_sequence_pep" class="form-label pe-3">Peptide Motif</label>
                                {{ filter.form.sequence_pep }}
                                <!--<input type="text" class="form-control ms-2" id="motif_prot" name="motif_prot" value="{% if motif_prot %}{{motif_prot}}{% endif %}">-->
                            </div>
                        </div>
                        

                    </div>
                    
                    <!-------- Status -------->
                    <div class="row align-items-center mb-3">


                        <div class="col form-check form-switch">
                            {{ filter.form.notannotated}}                            
                            <label class="form-check-label" for="id_notannotated">
                            {% with status=0  %}
                                {% include 'main/status.html' %}
                            {% endwith %}
                            </label>
                        </div>

                        <div class=" col form-check form-switch">
                            {{ filter.form.tovalidate}}                            
                            <label class="form-check-label" for="id_tovalidate">
                            {% with status=3  %}
                                {% include 'main/status.html' %}
                            {% endwith %}
                            </label>
                        </div>

                        <div class="col form-check form-switch">
                            {{ filter.form.validated}}                            
                            <label class="form-check-label" for="id_validated">
                            {% with status=4  %}
                                {% include 'main/status.html' %}
                            {% endwith %}
                            </label>
                        </div>
                    
                    </div>
                </div>
            </div>
    
        {% endwith %}
        {% endwith %}

        </div>  </div> 


</form>

